.main {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: var(--white);
  text-align: center;
  transition: 0.25s;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.29);
}

.titleWrapper {
  display: flex;
  height: 30%;
  justify-content: center;
  flex-direction: column;
  color: var(--grey);

  font-family: 'Roboto';
}

.titleWrapper h1 {
  font-weight: 900;
  color: var(--gray-500)
}

.titleWrapper h3 {
  font-weight: 300;
  font-size: 20px;
}

.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: space-between; */
  align-items: center;
}

@media (max-width: 720px) {
  .main {
    -webkit-box-shadow: -1px -1px 12px 9px rgba(0, 0, 0, 0.18);
    box-shadow: -1px -1px 12px 9px rgba(0, 0, 0, 0.18);
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    border-radius: 40px 40px 0 0;
  }
}
