.container {
  position: relative;

  display: flex;
  padding: 20px 60px;
  overflow-y: scroll;

  /* background-color: red; */
  box-sizing: border-box !important;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.container::-webkit-scrollbar{
  display: none;
}



.WrapperImgProfile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ContainerImgProfile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
  border: 3px solid white;
  -webkit-box-shadow: -2px -2px 9px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -2px -2px 9px 5px rgba(0, 0, 0, 0.3);
}

.ContainerName {
  display: flex;
  width: 100%;

  padding: 20px 0;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}


.ContainerName input {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(36, 36, 36) !important;
  text-align: center !important;
}

.ContainerName input::placeholder {
  color: gray;
}

.ContainerName h2 {
  font-weight: bold;
  color: white
}

.ContainerInfos {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  /* padding-bottom: 130px; */
}

.ContainerInfos button {
  background-color: transparent;
}

.ContainerInfos input {
  padding: 10px;
}

.ContainerInfos div input {
  margin-top: 10px;
}

.ContainerButtons {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.ShareLinksWrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShareLinksWrapper section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.SaveButtonWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .SaveButtonWrapper button {
    font-size: 1rem;
  }
}
