* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffff;
  --cool: #f2f7fc;

  --pink: #5e43c3;
  --blue-ligth: ##00a2dc;
  --blue: #183548;

  --gray-200: #f0f0f0;
  --gray-500: #6e6e6e;
  --gray-700: #707070;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;

  flex: 1;
  background-color: var(--pink);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Robot", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex !important;
  flex: 1;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;

  background: url('/img/bg-principal.png') no-repeat center center;
}


.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* Acessbilidade de fontes */
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
